<?xml version='1.0' encoding='utf-8'?>
<widget id="es.esy.profvictorhugo.AppFSW" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FSWApp</name>
    <description>
        Aplicativo de acesso aos recursos da Fábrica de Software Acadêmica, do Câmpus Inhumas do IFG.
    </description>
    <author email="elymar.cabral@ifg.edu.br" href="http://fsw.ifg.edu.br/app">
        Equipe FSW Acadêmica - Coordenação Prof. Elymar P. Cabral
    </author>
    <content src="index.html" />
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
    <access origin="*" />
    <access origin=".*" />
    <allow-navigation href="*" />
    <allow-navigaion href="http://profvictorhugo.esy.es/*" />
    <access subdomains="true" uri="http://profvictohugo.esy.es" />
    <access subdomains="true" uri="*" />
    <access origin="http://*.profvictohugo.esy.es" />
    <access origin="http://profvictorhugo.esy.es" />
    <access origin="http://profvictorhugo.esy.es/*" subdomains="true" />
    <access origin="http://profvictorhugo.esy.es/WS/FSWApp/loginWS.php" />
    <access origin="content:///*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="http://profvictorhugo.esy.es/*" />
    <allow-intent href="*" />
    <preference name="SplashScreenDelay" value="20000" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:plugin name="cordova-plugin-spinnerdialog" source="npm" />
    <gap:plugin name="cordova-plugin-spinner" source="npm" />
    <gap:plugin name="hu.dpal.phonegap.plugins.spinnerdialog" />
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    </platform>
    <plugin name="cordova-plugin-spinner" spec="^1.1.0" />
    <plugin name="cordova-plugin-spinner-dialog" spec="^1.3.1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-http" spec="^1.2.0" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
