html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
}
.home{
    padding-top: 5px;
}
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
.fundo-verde{
    background-color: #195128;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.fundo-branco{
    background-color: white;
    background-size: 100%;
}


.corpo{
}

.borda-redonda{
    border-radius: 20px;  
    -moz-border-radius: 20px; /* Firefox */  
    -webkit-border-radius: 20px; /* Safari, Chrome */
    overflow: hidden;
}

.iframeIndex{
    border: none;
    width:100%;
    height: calc(100% - 90px);
    min-height:430px;
    padding-bottom:10px;
    display: block;
}
@media (max-width:700px){
    .iframeIndex{
        height: calc(100% - 90px);
        min-height:430px;
    }
}
@media screen {
  .iframeIndex{
    height:calc(100vh - 130px);
    background-color:white;
   }
}
@media screen and (max-height: 500px){
  .iframeIndex{
    height:calc(100vh - 150px);
    height: calc(100% - 250px);
    min-height:380px;
    background-color:white;
   }
}


.ImagemLogoIF{
    width: 50%;
    max-width: 200px;
    margin-top: 5%;
}

.ImagemLogoFSW{
    
    height: auto;
    max-width: 100%;
    
}

#login{
    position: absolute;
    width: 60%;
    height: auto;

    left: 20%;
    text-align: center;
}

.bttLogin{

    background-color: #8bce03;

}

.div-100{
    height: auto;
}



fieldset{

    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: black;

}

.buttonStatus{
    padding-right: 153px;

}



.btn-1{
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}


.btn-2{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.divHorario{
    margin-left: -20px;
}


#homediv{
    height: auto;
}


